In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

## Task 3

In [16]:
# The training data
dfTrainData = pd.read_csv("./../TrainData.csv")
dfTrainData

,TIMESTAMP,POWER,U10,V10,WS10,U100,V100,WS100
0,20120101 1:00,0.273678,0.534894,-3.660243,3.699120,0.765355,-4.486657,4.551468
1,20120101 2:00,0.086796,0.330813,-2.676430,2.696797,0.469875,-3.213752,3.247920
2,20120101 3:00,0.006811,-0.065839,-2.029072,2.030140,-0.020893,-2.418119,2.418209
3,20120101 4:00,0.018646,-0.419549,-1.799090,1.847362,-0.444867,-2.149654,2.195203
4,20120101 5:00,0.034812,-0.754224,-1.661526,1.824698,-0.838274,-1.991829,2.161038
...,...,...,...,...,...,...,...,...
16075,20131031 20:00,0.101254,-1.459917,-1.778960,2.301316,-1.974368,-4.936280,5.316483
16076,20131031 21:00,0.105047,-1.293326,-2.350447,2.682777,-0.781394,-4.903565,4.965433
16077,20131031 22:00,0.145079,-0.308284,-2.441885,2.461269,0.257905,-4.027432,4.035681
16078,20131031 23:00,0.180933,1.148765,-2.789011,3.016330,1.628004,-3.520358,3.878572
16079,20131101 0:00,0.236826,2.879322,-2.077827,3.550755,3.667186,-2.551704,4.467600

In [18]:
# Limit use of wind speed at 10m above ground level

# TrainData
dfTrainData = dfTrainData.drop(columns=['U100', 'V100', 'WS100'])

# WeatherForecastInput
dfWFI = pd.read_csv("./../WeatherForecastInput.csv")
dfWFI = dfWFI.drop(columns=['U100', 'V100', 'WS100'])
dfWFI

          TIMESTAMP       U10       V10      WS10
0     20131101 1:00  3.462251 -1.066374  3.622753
1     20131101 2:00  3.651341 -0.337717  3.666925
2     20131101 3:00  3.657829  0.328049  3.672510
3     20131101 4:00  3.551698  0.735371  3.627028
4     20131101 5:00  3.586921  1.050811  3.737673
..              ...       ...       ...       ...
715  20131130 20:00 -2.527419 -6.623859  7.089666
716  20131130 21:00 -2.529020 -7.423845  7.842794
717  20131130 22:00 -3.105103 -6.653005  7.341943
718  20131130 23:00 -2.286417 -6.165074  6.575396
719   20131201 0:00  1.047175 -5.420364  5.520590

[720 rows x 4 columns]

In [19]:
# Make wind power production forecasting when we only have wind power generation data; and we do not have other data

# The following columns should be removed: U10, V10, WS10, U100, V100, WS100
# In the new training data file, we only have two columns: TIMESTAMP and POWER, which is called as time-series data
dfTrainData = dfTrainData.drop(columns=['U10', 'V10', 'WS10'])

timestamp_train = dfTrainData["TIMESTAMP"].values
power_train = dfTrainData["POWER"].values


dfTrainData

            TIMESTAMP     POWER
0       20120101 1:00  0.273678
1       20120101 2:00  0.086796
2       20120101 3:00  0.006811
3       20120101 4:00  0.018646
4       20120101 5:00  0.034812
...               ...       ...
16075  20131031 20:00  0.101254
16076  20131031 21:00  0.105047
16077  20131031 22:00  0.145079
16078  20131031 23:00  0.180933
16079   20131101 0:00  0.236826

[16080 rows x 2 columns]

In [ ]:
""" Recurrent Neural Network (RNN) """

In [20]:
dfSolution = pd.read_csv("./../Solution.csv")
dfSolution
#print('Root mean squared error (RMSE):', np.sqrt(mean_squared_error(dfSolution['POWER'], y_test)))

          TIMESTAMP     POWER
0     20131101 1:00  0.167215
1     20131101 2:00  0.063998
2     20131101 3:00  0.039035
3     20131101 4:00  0.036232
4     20131101 5:00  0.064888
..              ...       ...
715  20131130 20:00  0.963328
716  20131130 21:00  0.948834
717  20131130 22:00  0.925991
718  20131130 23:00  0.773840
719   20131201 0:00  0.152735

[720 rows x 2 columns]